<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        display: flex;
    }
</style>
<body>
    <h1>Certificates for the Course completation</h1>
    <div class="cards">
        <img src="">
        <img src="">
    </div>
    <div class="card-2">
        <img src="">
    </div>
    
</body>
</html>